//背景
.product {
  background-color: white;
}

//文字
h1 {
  font-size: 56px;
  font-weight: bold;
  color: #650300;

}

//容器
.card1 {
  width: 200px;
  height: 200px;
  position: relative;
}


.card2 {
  width: 200px;
  height: 200px;
  position: relative;
}

.card3 {
  width: 200px;
  height: 200px;
  position: relative;
}

.card4 {
  width: 200px;
  height: 200px;
  position: relative;
}

.card5 {
  width: 200px;
  height: 200px;
  position: relative;
}

//圖片
.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.well-up {
  position: absolute;
  z-index: 2;
}

.well-down {
  position: absolute;

  z-index: 1;
}

.gold-up {
  position: absolute;
  z-index: 2;
}

.gold-down {
  position: absolute;
  z-index: 1;
}

.lay-up {
  position: absolute;
  z-index: 2;
}

.lay-down {
  position: absolute;
  z-index: 1;
}

.bell-up {
  position: absolute;
  z-index: 2;
}

.bell-down {
  position: absolute;
  z-index: 1;
}

.sutra-up {
  position: absolute;
  z-index: 2;
}

.sutra-down {
  position: absolute;
  z-index: 1;
}

//按鈕
.sumbit-index {
  width: 120px;
  height: 56px;
  font-weight: bold;
  background-color: #932a27;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}