*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans TC', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
  ;
}

//container
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 15px;
}

//flex
.d-f {
  display: flex;
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  display: flex;
  justify-content: center;
}

//對齊
.m0 {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}


//間距
.cg50 {
  column-gap: 50px;
}

.pb40 {
  padding-bottom: 40px;
}

//position
.po-relative {
  position: relative;
}