//容器
.card1 {
  width: 200px;
  height: 200px;
}


.card2 {
  width: 200px;
  height: 200px;
}

.card3 {
  width: 200px;
  height: 200px;
}

.card4 {
  width: 200px;
  height: 200px;
}

.card5 {
  width: 200px;
  height: 200px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//flex
.flex-w {
  display: flex;
  flex-wrap: wrap;
}